<!DOCTYPE html>
<html lang="en">
<partial name="Mentor/Head"/>
<body>

<partial name="Mentor/Header"/>

<main class="main">
    @RenderBody()
</main>
<partial name="Mentor/Footer"/>
<partial name="Mentor/FooterInclude"/>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>